- @title = 'Inici'
- @this.layout = 'home'
- @this.toc = false
- @this.summary = 'Riseup posa a la disposició de persones i grups que treballen per fer possible un canvi social i alliberador un seguit d'eines de comunicació en línia. Som un projecte de creació d'alternatives democràtiques i de pràctica de l'autodeterminació mitjançant el control dels nostres propis mitjans segurs de comunicació.'

= render 'accounts'
